[submodule "brin_fe"]
	path = brin_fe
	url = https://gitlab.brin.go.id/brinrockstar/simarinv2-fe.git
[submodule "brin_be"]
	path = brin_be
	url = https://gitlab.brin.go.id/brinrockstar/simarinv2-be.git
[submodule "dokumentasi"]
	path = dokumentasi
	url = https://gitlab.brin.go.id/brinrockstar/simarinv2-be.git
